footer {
    position: absolute;
    margin-top: 35px;
    right: 80px;
    left: 80px;
}

address {
    border: solid black 1px;
    background-color: rgb(143, 216, 241);
    display:flex;
}
address > p {
    display: inline;
    flex: 1;
    text-align: center;
    border-left: solid black 1px;
    border-right: solid black 1px;
    margin: 0px;
}

#copyrights {
    margin-left: 40px;
}