<!DOCTYPE html>
<html lang="ro">
    <head>
		<title>FMS Guides</title>
		<meta charset="UTF-8">
		<meta name="description" content="Singurul site cu tutoriale de metin ca la carte,
										  gandit matematic si scris pe baza codului sursa -
										  despre iteme, bonusuri, skilluri, buguri si altele">
		<meta name="keywords" content="Metin2, oficial, tutorial, ghid, bonusuri, pvp, pvm, perfect, crescut, skill, set, privat">
		<meta name="author" content="Bogdan Putineanu">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="apple-touch-icon" sizes="180x180" href="resurse/ico/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="resurse/ico/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="resurse/ico/favicon-16x16.png">
		<link rel="manifest" href="resurse/ico/site.webmanifest">
		<link rel="mask-icon" href="resurse/ico/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		
		<link rel="stylesheet" href="./resurse/styles/404.css">
	</head>

<body>
    <main>404 Page Not Found</main>
</body>
</html>