<!DOCTYPE html>
<html lang="en">

	<head>
		<title>FMS Guides</title>
		<meta charset="UTF-8">
		<meta name="description" content="Singurul site cu tutoriale de metin ca la carte,
										  gandit matematic si scris pe baza codului sursa -
										  despre iteme, bonusuri, skilluri, buguri si altele">
		<meta name="keywords" content="Metin2, oficial, tutorial, ghid, bonusuri, pvp, pvm, perfect, crescut, skill, set, privat">
		<meta name="author" content="Bogdan Putineanu">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="apple-touch-icon" sizes="180x180" href="resurse/ico/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="resurse/ico/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="resurse/ico/favicon-16x16.png">
		<link rel="manifest" href="resurse/ico/site.webmanifest">
		<link rel="mask-icon" href="resurse/ico/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		
		<link rel="stylesheet" href="./resurse/styles/html.css">
		<link rel="stylesheet" href="./resurse/styles/header.css">
		<link rel="stylesheet" href="./resurse/styles/footer.css">
		<link rel="stylesheet" href="./resurse/styles/home.css">
		
		<script type="text/javascript" src="../../resurse/scripts/header.js"></script>

	</head>

<body>

	<%- include("../fragmente/header.ejs")  %>

	<main>
		<div id="main_grid">
			<section>
				<h2>Bonuses</h2>
				<div id="bonusuri" class="flex-container">
					<article class="flex-item">
						<h3>The Official Tierlist</h3>
						<img src = "./resurse/imagini/wip.jpg" alt = "wip">
						<a>Fact: Slowing chance > Attack speed</a>
					</article>
					<article class="flex-item">
						<h3>All Bonuses Explained</h3>
						<img src = "./resurse/imagini/wip.jpg" alt = "wip">
						<a>But what is a "Chance to get back SP when hit"??</a>
					</article>
				</div>
			</section>
			
			<section>
				<h2>Items</h2>
				<div id="iteme" class="flex-container">
					<article class="flex-item">
						<h3>The Perfect Item Set</h3>
						<img src = "./resurse/imagini/wip.jpg" alt = "wip">
						<a>The ebony vs tear vs crystal earrings debate ends here.</a>
					</article>
					<article class="flex-item">
						<h3>Special Items Explained</h3>
						<img src = "./resurse/imagini/wip.jpg" alt = "wip">
						<a>Increase the blacksmith rate with this one simple trick!</a>
					</article>
				</div>
			</section>

			<section>
				<h2>Bugs</h2>
				<div id="buguri" class="flex-container">
					<article class="flex-item">
						<h3>HP Increase Bugs</h3>
						<img src = "./resurse/imagini/wip.jpg" alt = "wip">
						<a>(not like I would <i>ever</i> use this in a duel)</a>
					</article>
					<article class="flex-item">
						<h3>Skills Bugs</h3>
						<img src = "./resurse/imagini/wip.jpg" alt = "wip">
						<a>Nothing like the Enchanted Fishing Rod</a>
					</article>
					<article class="flex-item">
						<h3>Other Bugs</h3>
						<img src = "./resurse/imagini/wip.jpg" alt = "wip">
						<a>Work in progress...</a>
					</article>
				</div>
			</section>

			<section>
				<h2>Others</h2>
				<div id="altele" class="flex-container">
					<article class="flex-item">
						<h3>The Perfect Status</h3>
						<img src = "./resurse/imagini/wip.jpg" alt = "wip">
						<a>STR vs DEX vs VIT vs INT</a>
					</article>
					<article class="flex-item">
						<h3>Skills Explained</h3>
						<img src = "./resurse/imagini/wip.jpg" alt = "wip">
						<a>Camouflage + Ambush = ?</a>
					</article>
				</div>
			</section>
		</div>
	</main>

	<%- include("../fragmente/footer.ejs") %>

</body>
</html>

