<footer>
    <address>
    <p><a href="#top">Go up</a></p>
    <p><a href="tel:+40728519697" target="_blank">Call me</a></p>
    <p><a href="https://www.google.ro/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83+-+Universitatea+din+Bucure%C8%99ti/@44.4355393,26.0973927,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867?hl=ro" target="_blank">Find me here</a></p>
    <p><a href="mailto:fmsguides@gmail.com" target="_blank">Mail</a></p>
    <p><a href="https://api.whatsapp.com/send?phone=15551234567" target="_blank">Or WhatsApp</a></p>
    
    
    </address>
    <small id="copyrights">&copy; Copyright <time datetime="2022-03-10 20:00">2022</time>, FMS Guides</small>
  </footer>